@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: #ffffff;
  color: #000000;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50%; /* Adjust as needed */
}