@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
  color: #000000;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50%; /* Adjust as needed */
}

/* Custom scrollbar styles */
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #9e9e9e;
}
body::-webkit-scrollbar-thumb {
  background: #d4d4d4;
}
